@font-face {
    font-family: 'LavishlyYours';
    src: url('fontes/LavishlyYours-Regular.ttf') ;
}

@font-face {
    font-family: 'Poppins';
    src: url('fontes/Poppins/Poppins-Light.ttf') ;
}

@font-face {
    font-family: 'Playfair';
    src: url('fontes/Playfair_Display/normal.ttf');
}

*{
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #733009, #D9A86C);
    background-repeat: no-repeat;
    width: 100%;
}

header{
    background-color: #e0dede;
    height: 70px;
    display: flex;
    padding: 10px;
    z-index: 3;
}

.logo{
    height: 50px;
    margin: 10px;
    margin-left: 50px;
}

nav{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 70px;
}

nav a{
    line-height: 70px;
    font-size: 18px;
    text-decoration: none;
    color: rgb(24, 23, 23);
    font-weight: bold;
}

a:hover{
    color: #532a13;
    text-shadow: 0px 0.5px #532a13;
}

#container-opcoes, #container-login{
    display: flex;
    list-style: none;
    justify-content: space-between;
    height: 70px;
}

#container-opcoes{
    width: 40%;
    margin-left: 20%;
    justify-content: space-between;
}

#container-login{
    width: 20%;
    margin-right: 2%;
    justify-content: space-around;
}

#container-login:last-child{
    margin-left: auto;
}

#home{
    width: 100%;
    height: 600px;
    display: grid;
}

.img1{
    position: absolute;
    width: 20%;
    top: 44%;
    left: 53%;
    z-index: 1;
}

.img2{
    position: absolute;
    top: 20%;
    left: 71%;
    align-items: end;
    width: 20%;
    z-index: -1;
}

.titulos{
    position: absolute;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 900px;
    height: 300px;
}

.titulo{
    font-family: 'LavishlyYours';
    font-size: 80px;
    color: #ddcbcb;
}

.texto1{
    font-family: 'Poppins';
    font-size: 25px;
    color: #ddcbcb;
}

.titulo-categorias{
    height: 75px;
    font-family: 'Playfair';
    font-size: 25px;
    margin-top: 50px;
    margin-left: 50px;
    font-weight: 500;
}

#novidades{
    display: flex;
    width: 100%;
    height: 600px;
    background-color: #e0dede;
}

#promocoes{
    display: flex;
    width: 100%;
    height: 600px;
    background-color: #e0dede;
}
#lista-itens{
    position: absolute;
    display: inline-flex;
}
.item{
    background-color: #f1f1f1;
    border-radius: 25px;
    margin-top: 150px;
    margin-left: 50px;
    border: 1px solid black;
    height: 300px;
    width: 300px;
}

.img-item-promocao{
    border-radius: 25px;
    height: 200px;
    width: 300px;
    object-fit: cover;
}

.nome-item{
    margin: 10px;
    margin-left: 15px;
    font-family: 'Poppins';
    font-size: 18px;
}

.preco-desc{
    margin-left: 15px;
    text-decoration: line-through;
    font-style: italic;
}

.preco-item{
    margin: 2px;
    margin-left: 15px;
    font-size: 17px;
    font-weight: bold;
}

.nome-footer{
    font-family: 'Poppins';
    font-size: 15px;
    color: black;
}
footer{
    display: flex;
    height: 150px;
}

.logo-footer{
    margin: auto;
    margin-left: auto;
}

.lista-footer{
    font-family: 'Poppins';
    font-size: 12px;
    margin: auto;
    margin-left: 50px;
    list-style: none;
}

/*início Modal*/
dialog{
    width: 30%;
    min-width: 300px;
    padding: 20px;
    padding-top: 0px;
    border: 0px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    /*centralizando*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial;
}

input, select, textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

button:hover { background-color: #0056b3; }

button[type="button"]{ background-color: #f5b049; }
button[type="button"]:hover{ background-color: #ac7727; }

dialog button{ margin-top: 20px;}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
}

dialog p.erro{
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(255, 190, 190);
    color: rgb(86, 2, 2);
    text-align: center;
    border-radius: 10px;
}
/* Fim Modal*/

h2{
    text-align: center;
    padding: 10px;
}
