*{
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(180deg, #733009, #D9A86C);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

/* ALTEREI */
header{
    background-color: #e0dede;
    width:  100%;
    height: 70px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    border-bottom: 1px solid #d7d5d5;
    z-index: 1000;
    top: 0;
    padding: 10px;
}

/* ALTEREI */
#nav-site{
    justify-content: space-around;
    width: 40%;
}

.logo{
    height: 50px;
    margin: 10px;
    margin-left: 50px;
}

nav{
    display: flex;
    position: static;
    top: 0;
    width: 100%;
    height: 70px;
}

nav a{
    line-height: 70px;
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* ALTEREI */
a:hover{
    color: #532a13;
    text-shadow: 0px 0.5px #532a13;
}
    
/* ALTEREI */
#container-opcoes{
    width: 8%;
    align-items: center;
    text-align: left;
    height: 70px;
}

form {
    width: 60%;
    min-width: 450px;
    text-align: right;
}

form label {
    display: inline-block;
    width: calc(20% - 30px);
    text-align: left;
    margin: 10px;
}

/*ALTEREI*/
form p.erro{
    padding: 10px;
    margin: 0px;
    background-color: rgb(255, 190, 190);
    color: rgb(86, 2, 2);
    text-align: center;
    border-radius: 5px;
    margin-left: 20%;
}

/* INSERI */
form p.erro:last-of-type{
    margin-bottom: 20px;
}

form p.sucesso{
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0px;
    background-color: rgb(190, 255, 212);
    color: rgb(2, 86, 41);
    text-align: center;
}

form input {
    width: calc(80% - 22px);
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

button[type="reset"]{ background-color: #f5b049; }
button[type="reset"]:hover{ background-color: #ac7727; }

form button:hover { background-color: #247126; }

table {
    width: 98%;
    border-collapse: collapse;
    margin-left: 1%;
}

/* ALTEREI */
table th, table td {
    border: 1px solid #7c4b2a;
    padding: 8px;
    text-align: center;
    width: 30%;
    background-color: #ffdfb9;
}

table th {
    background-color: #733009;
    color: white;
}

table td a:last-child{
    color: rgb(186, 36, 36);
    margin-left: 10px;
}
table td a:last-child:hover{ color: rgb(133, 11, 11); }

a{text-decoration: none;}

table td a{
    font-weight: bold;
    color: rgb(27, 102, 168); 
}

table td a:hover{ color: rgb(7, 60, 105); }

@font-face {
    font-family: 'LavishlyYours';
    src: url('../fontes/LavishlyYours-Regular.ttf') ;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontes/Poppins/Poppins-Light.ttf') ;
}

@font-face {
    font-family: 'Playfair';
    src: url('../fontes/Playfair_Display/normal.ttf');
}

.nome-footer{
    font-family: 'Poppins';
    font-size: 15px;
    color: black;
}

footer{
    display: flex;
    height: 150px;
}

.logo-footer{
    margin: auto;
    margin-left: auto;
}

.lista-footer{
    font-family: 'Poppins';
    font-size: 12px;
    margin: auto;
    margin-left: 50px;
    list-style: none;
}

#pedidoProduto{
    background-color: #ffe8d6;
    padding-top: 100px;
}

#sugestaoMenu{
    background-color: #ffe8d6;
    padding-top: 5px;
}

h2{
    font-family: "Playfair";
    margin-left: 1%;
}

hr{
    border: 0;
    background-color: #d7d5d5;
    height: 1px;
}